- flash.each do |type, message|
  - type = 'danger' if type.eql?(:alert)
  %div{class: "alert alert-#{type} alert-dismissable"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    = message.class.eql?(String)? message : message.join(', ')
:css
  .alert {
    border-radius: 0;
  }

  .alert-error,
  .alert-box.alert {
    background-color: #C60F13;
    border-color: #970B0E;
    color: #FFFFFF;
  }

  .alert-notice,
  .alert-box {
    background-color: #2BA6CB;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    margin-bottom: 1.25em;
    padding: 0.6875em 1.3125em 0.75em 0.6875em;
    position: relative;
  }

  .alert-dismissable .close {
    right: 0;
  }