%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header= link_to raw("#{image_tag('logos.png', width: 250)}"), root_url, class: "navbar-brand"
  //.navbar-header
  %ul.nav.navbar-top-links.navbar-right
    -# Notification Menu
    -# %li.dropdown
    -#   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    -#     %i.fa.fa-bell.fa-fw
    -#     %i.fa.fa-caret-down
    -#   %ul.dropdown-menu.dropdown-alerts
    -#     %li
    -#       %a{:href => "#"}
    -#         %div
    -#           %i.fa.fa-comment.fa-fw
    -#           New Comment
    -#           %span.pull-right.text-muted.small 4 minutes ago
    -#     %li.divider
    -#     %li
    -#       %a{:href => "#"}
    -#         %div
    -#           %i.fa.fa-twitter.fa-fw
    -#           3 New Followers
    -#           %span.pull-right.text-muted.small 12 minutes ago
    -#     %li.divider
    -#     %li
    -#       %a{:href => "#"}
    -#         %div
    -#           %i.fa.fa-envelope.fa-fw
    -#           Message Sent
    -#           %span.pull-right.text-muted.small 4 minutes ago
    -#     %li.divider
    -#     %li
    -#       %a{:href => "#"}
    -#         %div
    -#           %i.fa.fa-tasks.fa-fw
    -#           New Task
    -#           %span.pull-right.text-muted.small 4 minutes ago
    -#     %li.divider
    -#     %li
    -#       %a{:href => "#"}
    -#         %div
    -#           %i.fa.fa-upload.fa-fw
    -#           Server Rebooted
    -#           %span.pull-right.text-muted.small 4 minutes ago
    -#     %li.divider
    -#     %li
    -#       %a.text-center{:href => "#"}
    -#         %strong See All Alerts
    -#         %i.fa.fa-angle-right
    -#   / /.dropdown-alerts
    -# / /.dropdown
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      = menu_builder :profile, :divider, :logout, {id: '', class: 'dropdown-menu dropdown-user'}
      //.dropdown-user
    //.dropdown
  //.navbar-top-links
//.navbar-static-top
%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    = menu_builder :dashboard, :stores, :sms, :newsletters, :customers, :users, :packages, :campaigns, :statistics, :invoices, {id: 'side-menu', class: 'nav'}
    //#side-menu
  / /.sidebar-collapse
/ /.navbar-static-side