%header
  %h1.heading_supersize PAGPOS
  %h2.welcome_text Package Position Notification System
/ ######################## Section ########################
%section.section_main
  .row
    .large-4.columns
      %h3
        %span.dropcap_red.lsf-icon-dropcap{title: "camera"}
        1. Order
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.
    .large-4.columns
      %h3
        %span.dropcap_black.lsf-icon-dropcap{title: "cloud"}
        2. Tracking
      %p Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci. Mauris pharetra congue enim, et sagittis lectus congue ut. Cum sociis natoque penatibus.
    .large-4.columns
      %h3
        %span.dropcap_black.lsf-icon-dropcap{title: "video"}
        3. Notification
      %p Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros.