.row
  .col-lg-6
    .panel.panel-default
      .panel-heading.customer-header
        / Nav tabs
        %ul.nav.nav-tabs.pull-right
          %li.active
            %a{"data-toggle" => "tab", href: "#templates"} Templates
      / /.panel-heading
      .panel-body
        / Tab panes
        .tab-content
          #templates.tab-pane.fade.in.active
            %h4 Templates
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .col-lg-6
    .panel.panel-default
      .panel-heading.customer-header
        Preview
      / /.panel-heading
      .panel-body
        .well
          EK576320785TH ถึง ไปรษณีย์อ่อนนุช
      / /.panel-body