%p 
  - if current_user.present?
    = current_user.email
%div.html  
  -# if @html.present?
    =# @html.html_safe

%div.display


-# debug @contents_html
-# @contents_html.search('#DataGrid1 tr').each do |tr|
  -# tr.css('td').each do |td|
    =# td.content + ' | '

- @recieve_page.search('#Panel1 table:first td.LabelSignature table tr').each do |tr|
  = tr.text
  <br/>

= @recieve_page.search('#Panel1 table:last #Image1').first.attributes['src'].value


:css
  .html { display: none; }
:javascript
  $(document).ready(function(){
    $table = $('#DataGrid1');
    $('.html').remove()
    $('.display').html($table);
  });
