%p 
  - if current_user.present?
    = current_user.email
%div.html  
  -# if @html.present?
    =# @html.html_safe

%div.display


-# debug @contents_html
-# @contents_html.search('#DataGrid1 tr').each_with_index do |tr, index|
  -# tr.css('td').each_with_index do |td, i|
    =# td.content + "(#{index} - #{i})|" 

  <br/>

- @recieve_page.search('#Panel1 table:first td.LabelSignature table tr').each_with_index do |tr, i|
  =# tr.text.squish
  - if i == 3
    = tr.text.squish.split(':')[1]
    
  <br/>
-# if @signature.present?
  =# @signature

:css
  .html { display: none; }
:javascript
  $(document).ready(function(){
    $table = $('#DataGrid1');
    $('.html').remove()
    $('.display').html($table);
  });
