.row
  .col-lg-12
    .panel.panel-default
      .panel-heading.customer-header
        %span.pull-right
          %ul.nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-cog.fa-fw
                %i.fa.fa-caret-down
              = menu_builder :day, :divider, :week, :divider, :month, :divider, :year, {id: '', class: 'dropdown-menu'}

        %span.pull-left
          SMS Analytics
      .panel-body
        .col-lg-8
          #line-chart
        .col-lg-4
          %ul.list
            %li.info
              %h5
                Package
                %span.text-primary
                  LITE (Free)
                  = link_to "UPGRADE", "#", class: "btn btn-success btn-lg"
            %li.info
              %h5
                Credit/Month
                %span.text-primary 150
            %li.info
              %h5
                Sent
                %span.text-primary 47/150
            %li.info
              %h5
                Sent to Users
                %span.text-primary 171
  / /.col-lg-12
= content_for :javascripts do
  = javascript_include_tag 'charts'